.searchEngineContainer {
  width: 500px;
  margin: 10px, 10px;
  min-width: 500px;
}

.title {
  color: rgba(74, 72, 78, 0.7);
  text-align: left;
  padding-left: 4%;
  padding-top: 2%;
  margin-bottom: 0;
}

.inputStyles {
  margin: 15px, 15px;
}
